{% load static %}

{% for item in items %}
  {% if item.children and item.children|length > 0 %}
    <details
      class="nav-group nav-level-{{ level }}
        {% for c in item.children %}
          {% if request.resolver_match.url_name == c.url_name %}is-active{% endif %}
        {% endfor %}
      "
    >
      <summary
        class="nav-link nav-item--summary {% if request.resolver_match.url_name == item.url_name %}active{% endif %}"
      >
        <span class="nav-icon"
              style="--icon: url('{% static 'img/' %}{{ item.img }}')"></span>

        <span class="nav-label">{{ item.name }}</span>

        <svg class="nav-caret-icon" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
          <path d="m8 10 4 4 4-4"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
        </svg>
      </summary>

      <div class="nav-sub">
        {% include "includes/nav_tree.html" with items=item.children level=level|add:1 request=request %}
      </div>
    </details>
  {% else %}
    <a href="{% url item.url_name %}"
       class="nav-link {% if request.resolver_match.url_name == item.url_name %}active{% endif %}"
       data-haptic
    >
      <span class="nav-icon"
            style="--icon: url('{% static 'img/' %}{{ item.img }}')"></span>

      <span class="nav-label">{{ item.name }}</span>

      <span aria-hidden="true"></span>
    </a>
  {% endif %}
{% endfor %}

<!-- Toggle voor light/dark mode -->
<label class="mode-switch-container">
  <input type="checkbox" id="modeSwitch" class="mode-switch-input">
  <span class="mode-switch-slider">
    <svg class="sun-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="12" cy="12" r="4"></circle>
      <path d="M12 2v2M12 20v2M4.93 4.93l1.41 1.41M17.66 17.66l1.41 1.41M2 12h2M20 12h2M6.34 17.66l-1.41 1.41M19.07 4.93l-1.41 1.41"></path>
    </svg>
    <svg class="moon-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
      <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
    </svg>
  </span>
</label>