{% load static %}
<!doctype html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, maximum-scale=1">
  <title>Login | Apo Jansen</title>

  <meta name="description" content="Apo Jansen" />
  <meta name="application-name" content="Apo Jansen" />
  <meta name="apple-mobile-web-app-title" content="Apo Jansen" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <!-- kleur adresbalk / titelbalk -->
  <meta name="theme-color" content="#0d131b">
  <meta name="color-scheme" content="dark light" />

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/base/refresh.css' %}">
  <style>
    body.ptr-panel-bg {
      background: var(--bg) !important;
    }
  </style>

  <!-- Manifest + icons -->
   <link rel="manifest" href="{% url 'manifest.json' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'pwa/icons/favicon-32x32.png' %}">
  <link rel="apple-touch-icon" href="{% static 'pwa/icons/apple-touch-icon.v4.png' %}">
  <link rel="shortcut icon" href="{% static 'pwa/icons/favicon.ico' %}">

    <!-- Splash screens ios -->
   <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'pwa/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_landscape.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'pwa/splash_screens/12.9__iPad_Pro_landscape.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'pwa/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_portrait.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'pwa/splash_screens/iPhone_11__iPhone_XR_landscape.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'pwa/splash_screens/10.9__iPad_Air_portrait.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'pwa/splash_screens/iPhone_16e__iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_landscape.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'pwa/splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_landscape.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 1032px) and (device-height: 1376px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'pwa/splash_screens/13__iPad_Pro_M4_landscape.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'pwa/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_portrait.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'pwa/splash_screens/iPhone_16__iPhone_15_Pro__iPhone_15__iPhone_14_Pro_portrait.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 440px) and (device-height: 956px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'pwa/splash_screens/iPhone_17_Pro_Max__iPhone_16_Pro_Max_landscape.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'pwa/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_landscape.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'pwa/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_landscape.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'pwa/splash_screens/10.2__iPad_landscape.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1210px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'pwa/splash_screens/11__iPad_Pro_M4_portrait.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'pwa/splash_screens/12.9__iPad_Pro_portrait.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'pwa/splash_screens/iPhone_16_Plus__iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_landscape.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'pwa/splash_screens/iPhone_16_Plus__iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_portrait.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 420px) and (device-height: 912px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'pwa/splash_screens/iPhone_Air_landscape.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'pwa/splash_screens/10.9__iPad_Air_landscape.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 420px) and (device-height: 912px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'pwa/splash_screens/iPhone_Air_portrait.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'pwa/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_portrait.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'pwa/splash_screens/10.5__iPad_Air_landscape.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'pwa/splash_screens/iPhone_16e__iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_portrait.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'pwa/splash_screens/iPhone_11__iPhone_XR_portrait.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 440px) and (device-height: 956px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'pwa/splash_screens/iPhone_17_Pro_Max__iPhone_16_Pro_Max_portrait.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 402px) and (device-height: 874px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'pwa/splash_screens/iPhone_17_Pro__iPhone_17__iPhone_16_Pro_landscape.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 402px) and (device-height: 874px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'pwa/splash_screens/iPhone_17_Pro__iPhone_17__iPhone_16_Pro_portrait.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'pwa/splash_screens/10.2__iPad_portrait.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'pwa/splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_landscape.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'pwa/splash_screens/8.3__iPad_Mini_portrait.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'pwa/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_landscape.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'pwa/splash_screens/11__iPad_Pro__10.5__iPad_Pro_landscape.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'pwa/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_portrait.png' %}">
<link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'pwa/splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_portrait.png' %}">

  {% block head %}{% endblock %}
</head>
<body>
  <div id="pull-to-refresh">
  <div class="ptr-ring">
    <span class="ptr-dot"></span>
    <span class="ptr-dot"></span>
    <span class="ptr-dot"></span>
    <span class="ptr-dot"></span>
    <span class="ptr-dot"></span>
    <span class="ptr-dot"></span>
    <span class="ptr-dot"></span>
    <span class="ptr-dot"></span>
    <span class="ptr-dot"></span>
    <span class="ptr-dot"></span>
    <span class="ptr-dot"></span>
    <span class="ptr-dot"></span>
  </div>
</div>
  {% block pre_body %}{% endblock %}
  <main class="login-app">
    <div class="login-box">

    {% block login_header_image %}
    {% static 'img/logo.jpg' as static_logo %}
    <div class="logo-wrap default-logo">
        <img class="logo" src="{% firstof logo_url static_logo %}" alt="Apotheek Jansen">
    </div>
    {% endblock %}

    {% for m in messages %}
      <div class="flash {% if m.tags %}flash-{{ m.tags }}{% endif %}">
        {{ m }}
      </div>
    {% endfor %}

      {% block content %}{% endblock %}

    </div>
    
  </main>

  <script src="{% static 'js/auth/login.js' %}"></script>
  <script src="{% static 'js/auth/passkeys.js' %}"></script>
  <script src="{% static 'js/base/refresh.js' %}"></script>
  <script src="{% static 'js/base/base.js' %}" defer></script>
</body>
</html>