{% load static %}
<!doctype html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, maximum-scale=1">
  <title>Login | Apo Jansen</title>

    <meta name="description" content="Apo Jansen" />
  <meta name="application-name" content="Apo Jansen" />
  <meta name="apple-mobile-web-app-title" content="Apo Jansen" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <!-- kleur adresbalk / titelbalk -->
  <meta name="theme-color" content="#0d131b">
  <meta name="color-scheme" content="dark light" />

  <!-- Manifest + icons -->
  <link rel="manifest" href="{% static 'pwa/manifest.webmanifest' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'pwa/icons/favicon-32x32.png' %}">
  <link rel="apple-touch-icon" href="{% static 'pwa/icons/apple-touch-icon.v4.png' %}">
  <link rel="shortcut icon" href="{% static 'pwa/icons/favicon.ico' %}">

  <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
  {% block head %}{% endblock %}
</head>
<body>
  {% block pre_body %}{% endblock %}
  <main class="login-app">
    <div class="login-box">

    {% block login_header_image %}
    {% static 'img/logo.jpg' as static_logo %}
    <div class="logo-wrap default-logo">
        <img class="logo" src="{% firstof logo_url static_logo %}" alt="Apotheek Jansen">
    </div>
    {% endblock %}

    {% for m in messages %}
      <div class="flash {% if m.tags %}flash-{{ m.tags }}{% endif %}">
        {{ m }}
      </div>
    {% endfor %}

      {% block content %}{% endblock %}

    </div>
    
  </main>

  <script src="{% static 'js/auth/login.js' %}"></script>
</body>
</html>