# --- Security & Config ---
.env
*.env
.git
.gitignore

# --- Python & Dependencies ---
venv/
.venv/
__pycache__/
*/__pycache__/
*.pyc

# --- G Standaard Data ---
raw_data/

# --- Media ---
media/

# Overig
run_dev.py
README.md

# =========================
# Capacitor / Mobile
# =========================
mobile/