{% extends "two_factor/_base.html" %}
{% load static i18n %}

{% block login_header_image %}
  <div class="twofa-image-wrap">
    <img src="{% static 'img/brain-question-256x256.png' %}" alt="Wachtwoord vergeten" class="twofa-image" style="width:70px;">
  </div>
{% endblock %}

{% block content %}

  <form method="post"
        autocomplete="off"
        novalidate
        id="reset-password-form">
    {% csrf_token %}

    <h1 style="margin-top: 20px; text-align:center;">{% trans "Wachtwoord vergeten" %}</h1>
    <p class="twofa-logintext muted" style="margin-top: 20px; margin-bottom: 25px;">
      {% trans "Voer je e-mailadres in. Als dit adres bij ons bekend is, sturen we je een link om je wachtwoord opnieuw in te stellen." %}
    </p>

    <label for="{{ form.email.id_for_label }}">{% trans "E-mail" %}</label>
    {{ form.email }}

    <button type="submit" id="pw-submit">{% trans "Verstuur resetlink" %}</button>

    <p class="forgot-password forgot-password--center">
      <a href="{% url 'two_factor:login' %}" class="muted">{% trans "Terug naar inloggen" %}</a>
    </p>
  </form>

{% endblock %}