{% extends "base.html" %}
{% block title %}Wachtwoord instellen{% endblock %}
{% block header_title %}Wachtwoord instellen{% endblock %}

{% block content %}
<div class="card">
  <div class="card-inner">
    <h3>Stel je wachtwoord in</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form">
        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
        <button class="btn block" type="submit">Opslaan en 2FA instellen</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
