{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block header_title %}Home{% endblock %}

{% block content %}
<div class="card" style="padding:16px;">
  <h3 style="margin-top:0;">Welkom</h3>
  <div class="tiles">
    {% for t in tiles %}
      <a href="{% url t.url_name %}" class="tile" style="text-decoration:none;">
        <div class="tile-box">
          <img src="{% static t.img %}" alt="{{ t.name }}" class="tile-img">
          <div class="tile-name">{{ t.name }}</div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
