{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block header_title %}Home{% endblock %}

{% block content %}
<div class="card" style="padding:16px;">
    <h3 style="margin-top:0;">
    {% if user.is_authenticated %}
        Welkom, {{ user.first_name|default:user.username|capfirst }}! Navigeer hier naar de gewenste tabbladen.
    {% else %}
        Welkom! Navigeer hier naar de gewenste tabbladen.
    {% endif %}
    </h3>
  <div class="tiles">
    {% for t in tiles %}
      <a href="{% url t.url_name %}" class="tile" aria-label="{{ t.name }}">
      <div class="tile-box">
        <div class="tile-icon">
          <img src="{% static 'img/' %}{{ t.img }}" alt="{{ t.name }}" class="tile-img">
        </div>
        <div class="tile-name">{{ t.name }}</div>
      </div>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
