{% extends "two_factor/_base.html" %}
{% load i18n static %}

{% block login_header_image %}
  <div class="twofa-image-wrap">
    <img src="{% static 'img/2FA.png' %}" alt="2FA" class="twofa-image" style="margin-top: -10px; margin-bottom: -10px;">
  </div>
{% endblock %}

{% block content %}
  <h1 style="text-align:center; font-size: 30px;">{% trans "2FA instellen" %}</h1>
    <p class="muted" style="font-size: 15.5px; margin-top: -5px;">
      Scan deze QR-code met een authenticator-app (bijv. <span id="gaStoreLink" class="muted">Google Authenticator</span>) en vul daarna de 6-cijferige code in.
    </p>

  <div class="twofa-stack">
    <div class="qr-wrap">
      <div class="qr-card">
        <img src="{% url 'two_factor:qr' %}" alt="2FA QR-code" class="qr-image">
      </div>

      {% if secret_key %}
        <div class="manual-secret muted">
          <div>Geheime sleutel:</div>
          <code>{{ secret_key }}</code>
        </div>
      {% endif %}
    </div>

    <p
      class="not-muted"
      id="manualAddText"
      style="text-align:center;margin:0 auto; font-size: 15px; margin-bottom: -20px; margin-top: -5px; color: var(--muted)"
    >
      Kun je niet scannen? Voeg de geheime sleutel handmatig toe in je app en kies tijdgebaseerde (TOTP) codes
      {% if otpauth_url %}
        <span class="mobile-only-deeplink">
          <a href="{{ otpauth_url }}" style="text-decoration: underline; color: #4fa3ff;">
            of klik hier om je authenticator-app te openen</a>
        </span>
      {% endif %}
    </p>

    <form method="post" novalidate autocomplete="one-time-code" class="twofa-form">
      {% csrf_token %}
      {{ wizard.management_form }}

      <label for="{{ form.token.id_for_label }}">6-cijferige code</label>
      {{ form.token }}

      <button type="submit">{% trans "Bevestigen" %}</button>
    </form>
  </div>
{% endblock %}